In [27]:
import pandas as pd

In [45]:
df = pd.read_csv('data/read_book.csv')

In [46]:
df

,FLAG_NM,FLAG_VALUE,HLDY_AT,BOOK_TY_NM,EXAMIN_CO,NON_READ_RT,THIRTY_MNT_BELO_READ_RT,ONE_TIME_BELO_READ_RT,TWO_TIME_BELO_READ_RT,THREE_TIME_BELO_READ_RT,FOUR_TIME_BELO_READ_RT,FIVE_TIME_BELO_READ_RT,FIVE_TIME_ABOVE_READ_RT,AVRG_READ_MNT_VALUE
0,지역,서울,N,종이책,1137,61.6,13.3,12.9,9.8,2.1,0.2,0.0,0.0,15.2
1,지역,부산,N,종이책,392,81.1,5.9,9.0,3.7,0.2,0.0,0.0,0.0,6.3
2,지역,대구,N,종이책,279,45.8,15.6,26.6,12.0,0.0,0.0,0.0,0.0,17.8
3,지역,인천,N,종이책,341,75.0,7.6,8.2,8.9,0.3,0.0,0.0,0.0,10.3
4,지역,광주,N,종이책,168,68.3,8.1,14.7,8.2,0.7,0.0,0.0,0.0,11.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,연령,중등2학년,Y,오디오북,357,93.6,0.9,1.9,3.1,0.2,0.0,0.2,0.0,3.7
182,연령,중등3학년,Y,오디오북,344,88.7,1.4,2.5,3.9,2.4,0.9,0.2,0.0,8.6
183,연령,고등1학년,Y,오디오북,392,94.5,0.7,2.1,1.8,0.2,0.2,0.2,0.3,4.2
184,연령,고등2학년,Y,오디오북,364,91.6,2.0,0.9,3.5,1.5,0.2,0.2,0.1,6.0
185,연령,고등3학년,Y,오디오북,352,90.1,0.7,2.3,4.4,1.8,0.2,0.2,0.3,7.6

In [30]:
df.columns

Index(['FLAG_NM', 'FLAG_VALUE', 'HLDY_AT', 'BOOK_TY_NM', 'EXAMIN_CO',
       'NON_READ_RT', 'THIRTY_MNT_BELO_READ_RT', 'ONE_TIME_BELO_READ_RT',
       'TWO_TIME_BELO_READ_RT', 'THREE_TIME_BELO_READ_RT',
       'FOUR_TIME_BELO_READ_RT', 'FIVE_TIME_BELO_READ_RT',
       'FIVE_TIME_ABOVE_READ_RT', 'AVRG_READ_MNT_VALUE'],
      dtype='object')

In [31]:
df.loc

In [32]:
df.BOOK_TY_NM.unique()

array(['종이책', '전자책', '오디오북'], dtype=object)

In [33]:
df.BOOK_TY_NM.nunique()

3

In [34]:
df

,FLAG_NM,FLAG_VALUE,HLDY_AT,BOOK_TY_NM,EXAMIN_CO,NON_READ_RT,THIRTY_MNT_BELO_READ_RT,ONE_TIME_BELO_READ_RT,TWO_TIME_BELO_READ_RT,THREE_TIME_BELO_READ_RT,FOUR_TIME_BELO_READ_RT,FIVE_TIME_BELO_READ_RT,FIVE_TIME_ABOVE_READ_RT,AVRG_READ_MNT_VALUE
0,지역,서울,N,종이책,1137,61.6,13.3,12.9,9.8,2.1,0.2,0.0,0.0,15.2
1,지역,부산,N,종이책,392,81.1,5.9,9.0,3.7,0.2,0.0,0.0,0.0,6.3
2,지역,대구,N,종이책,279,45.8,15.6,26.6,12.0,0.0,0.0,0.0,0.0,17.8
3,지역,인천,N,종이책,341,75.0,7.6,8.2,8.9,0.3,0.0,0.0,0.0,10.3
4,지역,광주,N,종이책,168,68.3,8.1,14.7,8.2,0.7,0.0,0.0,0.0,11.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,연령,중등2학년,Y,오디오북,357,93.6,0.9,1.9,3.1,0.2,0.0,0.2,0.0,3.7
182,연령,중등3학년,Y,오디오북,344,88.7,1.4,2.5,3.9,2.4,0.9,0.2,0.0,8.6
183,연령,고등1학년,Y,오디오북,392,94.5,0.7,2.1,1.8,0.2,0.2,0.2,0.3,4.2
184,연령,고등2학년,Y,오디오북,364,91.6,2.0,0.9,3.5,1.5,0.2,0.2,0.1,6.0
185,연령,고등3학년,Y,오디오북,352,90.1,0.7,2.3,4.4,1.8,0.2,0.2,0.3,7.6

In [35]:
df.columns[1]

'FLAG_VALUE'

In [36]:
df

,FLAG_NM,FLAG_VALUE,HLDY_AT,BOOK_TY_NM,EXAMIN_CO,NON_READ_RT,THIRTY_MNT_BELO_READ_RT,ONE_TIME_BELO_READ_RT,TWO_TIME_BELO_READ_RT,THREE_TIME_BELO_READ_RT,FOUR_TIME_BELO_READ_RT,FIVE_TIME_BELO_READ_RT,FIVE_TIME_ABOVE_READ_RT,AVRG_READ_MNT_VALUE
0,지역,서울,N,종이책,1137,61.6,13.3,12.9,9.8,2.1,0.2,0.0,0.0,15.2
1,지역,부산,N,종이책,392,81.1,5.9,9.0,3.7,0.2,0.0,0.0,0.0,6.3
2,지역,대구,N,종이책,279,45.8,15.6,26.6,12.0,0.0,0.0,0.0,0.0,17.8
3,지역,인천,N,종이책,341,75.0,7.6,8.2,8.9,0.3,0.0,0.0,0.0,10.3
4,지역,광주,N,종이책,168,68.3,8.1,14.7,8.2,0.7,0.0,0.0,0.0,11.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,연령,중등2학년,Y,오디오북,357,93.6,0.9,1.9,3.1,0.2,0.0,0.2,0.0,3.7
182,연령,중등3학년,Y,오디오북,344,88.7,1.4,2.5,3.9,2.4,0.9,0.2,0.0,8.6
183,연령,고등1학년,Y,오디오북,392,94.5,0.7,2.1,1.8,0.2,0.2,0.2,0.3,4.2
184,연령,고등2학년,Y,오디오북,364,91.6,2.0,0.9,3.5,1.5,0.2,0.2,0.1,6.0
185,연령,고등3학년,Y,오디오북,352,90.1,0.7,2.3,4.4,1.8,0.2,0.2,0.3,7.6

In [47]:
df.drop(labels = 'HLDY_AT', axis = 1  )

,FLAG_NM,FLAG_VALUE,BOOK_TY_NM,EXAMIN_CO,NON_READ_RT,THIRTY_MNT_BELO_READ_RT,ONE_TIME_BELO_READ_RT,TWO_TIME_BELO_READ_RT,THREE_TIME_BELO_READ_RT,FOUR_TIME_BELO_READ_RT,FIVE_TIME_BELO_READ_RT,FIVE_TIME_ABOVE_READ_RT,AVRG_READ_MNT_VALUE
0,지역,서울,종이책,1137,61.6,13.3,12.9,9.8,2.1,0.2,0.0,0.0,15.2
1,지역,부산,종이책,392,81.1,5.9,9.0,3.7,0.2,0.0,0.0,0.0,6.3
2,지역,대구,종이책,279,45.8,15.6,26.6,12.0,0.0,0.0,0.0,0.0,17.8
3,지역,인천,종이책,341,75.0,7.6,8.2,8.9,0.3,0.0,0.0,0.0,10.3
4,지역,광주,종이책,168,68.3,8.1,14.7,8.2,0.7,0.0,0.0,0.0,11.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,연령,중등2학년,오디오북,357,93.6,0.9,1.9,3.1,0.2,0.0,0.2,0.0,3.7
182,연령,중등3학년,오디오북,344,88.7,1.4,2.5,3.9,2.4,0.9,0.2,0.0,8.6
183,연령,고등1학년,오디오북,392,94.5,0.7,2.1,1.8,0.2,0.2,0.2,0.3,4.2
184,연령,고등2학년,오디오북,364,91.6,2.0,0.9,3.5,1.5,0.2,0.2,0.1,6.0
185,연령,고등3학년,오디오북,352,90.1,0.7,2.3,4.4,1.8,0.2,0.2,0.3,7.6

In [48]:
df

,FLAG_NM,FLAG_VALUE,HLDY_AT,BOOK_TY_NM,EXAMIN_CO,NON_READ_RT,THIRTY_MNT_BELO_READ_RT,ONE_TIME_BELO_READ_RT,TWO_TIME_BELO_READ_RT,THREE_TIME_BELO_READ_RT,FOUR_TIME_BELO_READ_RT,FIVE_TIME_BELO_READ_RT,FIVE_TIME_ABOVE_READ_RT,AVRG_READ_MNT_VALUE
0,지역,서울,N,종이책,1137,61.6,13.3,12.9,9.8,2.1,0.2,0.0,0.0,15.2
1,지역,부산,N,종이책,392,81.1,5.9,9.0,3.7,0.2,0.0,0.0,0.0,6.3
2,지역,대구,N,종이책,279,45.8,15.6,26.6,12.0,0.0,0.0,0.0,0.0,17.8
3,지역,인천,N,종이책,341,75.0,7.6,8.2,8.9,0.3,0.0,0.0,0.0,10.3
4,지역,광주,N,종이책,168,68.3,8.1,14.7,8.2,0.7,0.0,0.0,0.0,11.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,연령,중등2학년,Y,오디오북,357,93.6,0.9,1.9,3.1,0.2,0.0,0.2,0.0,3.7
182,연령,중등3학년,Y,오디오북,344,88.7,1.4,2.5,3.9,2.4,0.9,0.2,0.0,8.6
183,연령,고등1학년,Y,오디오북,392,94.5,0.7,2.1,1.8,0.2,0.2,0.2,0.3,4.2
184,연령,고등2학년,Y,오디오북,364,91.6,2.0,0.9,3.5,1.5,0.2,0.2,0.1,6.0
185,연령,고등3학년,Y,오디오북,352,90.1,0.7,2.3,4.4,1.8,0.2,0.2,0.3,7.6